<!--This is our navigation bar, this ought to change the way our page works -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>




<div class="row align-center mb-5">
    <div>
        <h2>Share Your Sparks!</h2>
    </div>
    <nav>
      <button class="btn" id="My Sparks">My Sparks</button>
      <button class="btn" id="My Information">My Information</button>
      <button class="btn" id="Search User">Search User</button>
      <button class="btn" id="Public Ideas">Public Ideas</button>
      <button class="btn" id="Favorite Sparks">Favorite Sparks</button>
      <button class="btn" id="Category Select">Category Select</button>
      {{!-- <a href=./{{user.sparks}}>My Sparks</a>
      <a href=./{{user}}>My Information</a>
      <a href=./{{user.username}}>Search User</a>
      <a href=./{{concept.public}}>Public Ideas</a>
      <a href=./{{favorite}}>Favorite Sparks</a>
      <a href=./{{user.username}}>Category select</a> --}}
    </nav>
</div>

{{!-- This changes the buttons into links to new pages --}}
{{!-- <div class="row align-center mb-5">
  <a href=./{{user.sparks}}>My Sparks</a>
  <a href=./{{user}}>My Information</a>
  <a href=./{{user.username}}>Search User</a>
  <a href=./{{concept.public}}>Public Ideas</a>
  <a href=./{{favorite}}>Favorite Sparks</a>
  <a href=./{{user.username}}>Category select</a>
</div> --}}


    

<!--These Names must be changed to match what we are using -->

{{#each concepts as |concept| }}
<div class="row align-center mb-5">
  <!--Is our Menu for selection here? -->
  <div class="container">
    <p>
      <a href=./spark/{{concept.id}}>{{concept.title}} by {{concept.creator.username}}</a>
      </p>
  </div>
</div>
{{/each}}

