<div class="row align-center mb-5">
    <p>{{concept.title}}</p>
    <p>Created By {{concept.user.username}}</p>
    <p>{{{concept.text}}}</p>
    <button class="btn" id="Delete User">Delete User</button>
</div>
<div>
{{#each concept.comments as |comment|}}
  <p> Comment added {{comment.createdAt}} by {{comment.user.username}}: </p>
  <p>{{comment.comment}}:: </p>
{{/each}}
  <p> </p>
</div>
<div>
    <nav>
      <button class="btn" id="My Sparks">My Sparks</button>
      <button class="btn" id="My Favorites">My Favorites</button>
    </nav>
</div>