<div class="row align-center mb-5">
    <p>{{concept.title}}</p>
    <p>Created By {{concept.user.username}}</p>
    <p>{{{concept.text}}}</p>
    <button class="btn" id="Delete User">Delete User</button>
</div>
<div>
{{#each concept.comments as |comment|}}
  <p> Comment added {{comment.createdAt}} by {{comment.user.username}}: </p>
  <p>{{comment.comment}}:: </p>
{{/each}}
  <input type="text" id="newComment"> <button onclick="addComment()" value="Post Comment" class="btn">
</div>
<div>
    <nav>
      <button class="btn" id="My Sparks">My Sparks</button>
      <button class="btn" id="My Favorites">My Favorites</button>
    </nav>
</div>

<script>
  function async addComment(){

    const newComment = document.querySelector('#newComment').value.trim();
    console.log(newComment);

    if (newComment) {
      const response = await fetch('/api/spark/comment/' + concept.id, {
        method: 'POST',
        body: JSON.stringify({ newComment }),
        headers: { 'Content-Type': 'application/json' },
      });
      console.log(response)
      if (response.ok) {
        document.location.replace('/');
      } else {
        alert('Could not post data');
      }
    }
  }
</script>