<div class="row align-center mb-5">
    <p>{{concept.title}}</p>
    <p>Created By {{concept.user.username}}</p>
    <p>{{concept.text}}</p>
    <button class="btn" id="Delete User">Delete User</button>
</div>

{{#each concept.comments as |comment|}}
<p>{{comment[0].comment}}:{{comment[0].user.username}}: {{comment[0].createdAt}}</p>
{{/each}}
<div>
    <nav>
      <button class="btn" id="My Sparks">My Sparks</button>
      <button class="btn" id="My Favorites">My Favorites</button>
    </nav>
</div>